@model PersonalSite2.UI.MVC.Models.ContactViewModel

@{
    ViewBag.Title = "EmailConfirmation";
}

<h2>@ViewBag.Title</h2>
<h3>Thank you, @Model.Name!</h3>
<p>
    We have received your email, and will respond soon. Details of your message are below
</p>

<p>
    Name: @Model.Name
    <br />
    Email: @Model.Name
    <br />
    Subject: @Model.Subject
    <br />
    Message: @Model.Message
</p>
